<div class="datatrans-widget-container">
  <div class="payment-container">
    <div class="payment-field card-number-container">
      <div id="card-number"></div>
    </div>

    <div class="payment-field expiry-container">
      <input placeholder="MM/YY" type="text" (keyup)="expiryDateChange($event)" [(ngModel)]="expiry"/>
    </div>

    <div class="payment-field cvv-container">
      <div class="secure-field--input" id="cvv-number"></div>
    </div>

  </div>

  <button type="button" (click)="onSubmit()">
    Submit
  </button>

  <div>
    Card Type: {{ secureFieldsService.cardType }}
    <br>
    Card Number Result: {{ secureFieldsService.cardNumberResult }}
    <br>
    CVV Result: {{ secureFieldsService.cvvResult }}
    <br>
    Transaction Id: {{ secureFieldsService.transactionId }}
  </div>
</div>
